# ESDC API Credentials
ESDC_USER="SET_USERNAME_HERE"
ESDC_PASS="SET_PASSWORD_HERE"

# ESDC API URL
ESDC_URL="https://esdc.skkmigas.go.id/"

# Logging Level (overrides config.yaml)
# Options: DEBUG, INFO, WARNING, ERROR, CRITICAL, 0 (disable)
# Useful for debugging: ESDC_LOG_LEVEL=DEBUG
#ESDC_LOG_LEVEL="INFO"